body{
    font-size: 150%;
    text-align: center;
    background-color: darkcyan;
}

.main{
    border: 2px solid white;
    border-radius: 15px;
    background-color: white;
    margin-top: 2.5%;
    margin-right: 5%;
    margin-left: 5%;
}

.Part1{
    margin-right: 5%;
    margin-left: 5%;
}

.Part1-Box1{
    border: 2px solid #5c5c5c;
    background-color: darkgrey;
    border-radius: 15px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.Part1-Box1-p{
    text-align: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.Part1-Box2{
    border: 2px solid #5c5c5c;
    background-color: darkgrey;
    border-radius: 15px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.Part1-Box2-p{
    text-align: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.Part1-p2{
    text-align: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.List1{
    text-align: left;
    list-style-type: none;
}

.List2{
    text-align: left;
    list-style-type: none;
}

li{
    margin: 1%;
}

#break{
	border: 2px solid grey;
	border-radius: 15px;
	margin-left: 5%;
	margin-right: 5%;
}
